<!DOCTYPE html>
<html>
  <head>
    <title>RUNTEQ Rails入門STEPアプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">RUNTEQ Rails入門STEPアプリ</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-md-3 text-end">
        <% if current_user.present? %>
          <span class="btn btn-primary"><%= current_user.name %></span>
          <%= link_to 'ログアウト', logout_path, class: 'btn btn-outline-primary me-2' %>
        <% else %>
          <%= link_to 'ログイン', new_login_path, class: 'btn btn-outline-primary me-2' %>
        <% end %>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to 'トップ', root_path, class: 'nav-link active', 'aria-current': 'page' %>
                <%= link_to 'ユーザー', users_path, class: 'nav-link active', 'aria-current': 'page' %>
                <%= link_to 'タスク', tasks_path, class: 'nav-link active', 'aria-current': 'page' %>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <%= yield %>
        </main>
      </div>
    </div>
  </body> 
</html>
