<%= form_with model: board do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: "10" %>
  </div>
  <div class="mb-3">
    <%= f.label :board_image %>
    <%= f.file_field :board_image, class: "form-control", accept: 'image/*' %>
    <%= f.hidden_field :board_image_cache %>
  </div>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>