<% content_for(:title, @board.title) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <%= image_tag @board.board_image_url, width: "300", height: "200", class: "card-img-top img-fluid" %>
            </div>
            <div class="col-md-9">
              <h3 style="display: inline;"><%= @board.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item"><%= "by #{@board.user.decorate.full_name}" %></li>
                <li class="list-inline-item"><%= l @board.created_at, format: :long %></li>
              </ul>
            <% if current_user.own?(@board) %>
              <div class='d-flex justify-content-end'>
                <%= link_to edit_board_path(@board), id: "button-edit-#{@board.id}" do %>
                  <i class='bi bi-pencil-fill'></i>
                <% end %>
                <%= link_to board_path(@board),  data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
              </div>
              <% end %>
              </div>
            </div>
            <p><%= simple_format(@board.body) %></p>
          </div>
        </article>
      </div>
    </div>
    <%# コメントフォーム %>
      <%= render 'comments/form', comment: @comment, board: @board %>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <table class="table">
          <tbody id="table-comment">
            <%# コメント一覧 %>
            <%= render @comments %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
